[submodule "code/containers"]
	path = code/containers
	url = https://github.com/ReproNim/containers.git
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = https://github.com/ReproNim/containers.git
[submodule "code/tacc-openneuro"]
	path = code/tacc-openneuro
	url = https://github.com/poldracklab/tacc-openneuro.git
	datalad-url = https://github.com/poldracklab/tacc-openneuro.git
[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = https://github.com/OpenNeuroDatasets/ds004078.git
	datalad-id = dd2c42b7-ad18-4864-a997-d66489a1a3fb
	datalad-url = https://github.com/OpenNeuroDatasets/ds004078.git
